*{
    margin: 0px;
    padding: 0px;
    font-family:  'Montserat', sans-serif , Arial, Helvetica, sans-serif;
}
body{
    background-color: #e17833;
    text-align: center;
}
body h1{
    background-color: #1f1f1f;
    color: white;
    min-width: 800px;
    width: 800px;
    text-align: center;
    margin: 5px;
    margin-left: 230px;
    font-size: 40px;
    padding: 25px;
}
article{
    background-color: #1f1f1f;
    color: white;
    text-align: left;
    color: white;
    min-width: 800px;
    width: 800px;
    margin: 5px;
    margin-left: 230px;
    font-size: 15px;
    padding: 25px;
    text-transform: capitalize;
}
.ok{
    border: 4px solid white;
    background-color: rgb(27, 163, 27);
    color: white;
    font-size: 40px;
    padding: 25px;
    box-shadow: black 1px 4px 9px 4px;
}
.bad{
    border: 4px solid black;
    background-color: red;
    color: white;
    font-size: 40px;
    padding: 25px;
    box-shadow: black 1px 4px 9px 4px;
}